@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --clr: #303030;
}

.menu {
    box-sizing: border-box;
}

.text {font-family: 'Poppins', sans-serif;}

.navigation {
    position: relative;
    top: 10px;
    right: 10px;
    width: 270px;
    height: 70px;
    background: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
    border-radius: 10px;

}

.navigation ul {
    display: flex;
    width: 210px;

}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;

}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: .4s;
    color: white;
}

.navigation ul li.active a .icon {
    transform: translateY(-33px);
    transition: transform 0.3s ease-in-out;
    color: white;
}

.navigation ul li a .text {
    position: absolute;
    color: white;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background-image: linear-gradient(to right, #6692EE, #4A62DD);
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
    cursor: pointer;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--clr);
}

.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--clr);
}

.navigation ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(70px * 2));
}

.navigation ul li.active .icon {
    transform: translateY(-10px);
}

.navigation ul li:not(.active) .icon {
    transform: translateY(0px);
}

.animate {
  transition: all 0.5s ease-in-out;
  /* Adicione a animação aqui */
  transform: scale(1.1);
}

.animate:hover {
  transform: scale(1.2);
}
