.modal {
    display: none; /* Escondido por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Impede a rolagem da tela de fundo */
    background-color: rgba(255, 0, 0, 0.8);
    justify-content: center;
    align-items: flex-end; /* Alinha o modal ao fundo */
    opacity: 0; /* Opacidade inicial */
    transition: opacity 0.3s ease; /* Transição de opacidade */
}

.modal-content {
    background-color: #fff;
    width: 90%; /* Largura total */
    padding: 0px 20px;
    text-align: justify;
    max-height: 80%; /* Altura máxima do modal */
    overflow-y: auto; /* Rolagem vertical se o conteúdo exceder */
    border-radius: 10px 10px 0 0; /* Bordas arredondadas na parte superior */
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.2); /* Sombra para profundidade */
    transform: translateY(100%); /* Começa fora da tela */
    transition: transform 0.3s ease; /* Transição suave */
    /* Adiciona a propriedade para esconder a barra de rolagem */
    scrollbar-width: none; /* Para Firefox */
}

.modal-content::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari e Opera */
}

.modal.show {
    display: flex; /* Exibe o modal */
    opacity: 1; /* Opacidade total */
}

.modal.show .modal-content {
    transform: translateY(0); /* Move para a posição original */
}

/* Estilos do botão de fechar e demais */
.close {
    color: #f2ff00;
    float: right;
    font-size: 50px;
    font-weight: bold;
    border: 2px solid cadetblue;
    border-radius: 100%;
    padding: 20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
