@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    background-color: #303030;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}

nav {
    display: flex;
}

ul {
    display: flex;
    margin-right: 20px;
}

li {
    background-color: #303030;
    list-style-type: none;
    height: 20px;
    width: 60px;
    padding: 10px;
    margin: 2px;
    text-align: center;
    border-radius: 5px;
    font-size: 17px;
    transition: background-size 0.3s ease;
    background-image: linear-gradient(to right, #6793EE 10%, #4961DC 90%);
    background-size: 00% 100%;
    background-repeat: no-repeat;
}

li:hover {
    background-size: 100% 100%;
}

a {
    color: white;
    text-decoration: none;
}

.imgheader {
    height: 100px;
    display: flex;
    margin-left: 20px;
}

body {
    background-color: #191919;
    text-align: center;
    color: white;
}

.imgme {
    box-shadow: 0px 0px 30px 1px #6794ee95;
    width: 125px;
    border: 1px #3a4f7a solid;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.imgproj {
    width: 350px;
    border: 2px #9b9b9b solid;
    border-radius: 10px;
}

h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 2.5em;
    font-weight: 500;
}

.container {
    display: flex;
    justify-content: center;
    /* Centraliza os botões horizontalmente */
    align-items: center;
    /* Centraliza os botões verticalmente */
    margin-top: 10px;
}

.buttons {
    display: flex;
}

button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 30vw;
}

.site {
    border-radius: 20px 0px 0px 20px;
    background-color: #303030;
    text-align: center;
    transition: 0.4s ease;
}

.site:hover {
    background-color: #4961DC;
}

.arquivos {
    border-radius: 0px 20px 20px 0px;
    background-color: #303030;
    text-align: center;
    transition: 0.4s ease;
}

.arquivos:hover {
    background-color: #4961DC;
}

.sitea {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.modal {
    background-color: aqua;
}

.arquivosa {
    text-decoration: none;
    color: white;
}


/*Todo Do - Fim Modal*/

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
}

main {
    width: 80vw;
    margin: auto;
}

body.modal-open {
    overflow: hidden;
}



.popup .content {
    text-align: justify;
    position: fixed;
    bottom: 0; /* Inicia na parte de baixo */
    left: 50%;
    transform: translateX(-50%) translateY(100%); /* Mantém fora da tela inicialmente */
    background-color: white;
    width: 98vw;
    height: 80vh; /* Ocupa metade da tela */
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out; /* Transição suave ao aparecer */
    overflow-y: auto; /* Habilita rolagem vertical */
    max-height: 80vh; /* Limita altura máxima */
    border-radius: 20px 20px 0px 0px;
}

.popup #close {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    height: 25px;
    width: 25px;
    background-color: #303030;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    transition: .4s;
}

#close:hover {
    background-color: #4961DC;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transform: translateX(-50%) translateY(0); /* Move para o meio da tela */
}

.popup .content::-webkit-scrollbar {
    width: 0px; /* Remove a barra de rolagem lateral */
    background: transparent;
}

.pmodal {
    background-color: transparent;
    color: #3a4f7a;
    width: 70vw;
    text-align: center;
}

.h1modal {
    color: #4961DC;
}

input {
    background-color: white;
    color: black;
}

input:active
input:focus {
    border: 2px #4961DC solid;
}

form {
    margin-top: 50px;
}