@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

:root {
  --cor0: #d1dded;
  --cor1: #b3d6f9;
  --cor2: #74aee7;
  --cor3: #3684db;
  --cor4: #031930;
  --fontit: "Great Vibes", cursive;
  --fontde: "poppins", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--fontde);
}

main {
  flex: 1;
  padding: 20px;
}

p {
  text-align: center;
}

h1 {
  text-align: center;
  font-family: var(--fontit);
  font-size: 50px;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-family: var(--fontit);
}

h3 {
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
}

img {
  border-style: solid;
  border-width: 0.5px;
  border-color: rgba(0, 0, 0, 0.174);
}

.imagem {
  margin: auto;
  display: block;
  margin-bottom: 40px;
  margin-top: 20px;
  max-width: 170px;
  width: 30vw;
  border-radius: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: var(--cor2);
}

/*Início Topo*/
.topo {
  background-image: linear-gradient(to bottom, #7ab9f8, var(--cor3));
  height: 90px;
  padding-top: 22px;
}

.htopo {
  color: white;
  font-size: 53px;
}

.menu {
  background-color: var(--cor3);
  text-align: center;
  margin: auto;
  padding-bottom: 5px;
}

.amenu {
  color: var(--cor0);
  background-color: #ffffff09;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  width: 15vw;
  max-width: 120px;
  min-width: 80px;
}

.amenu:hover {
  background-color: var(--cor1);
  color: var(--cor4);
  transition-duration: 0.35s;
}
/*Fim Topo*/

/*Inicio Projetos*/

.aproj {
  color: #3684db;
  text-decoration: none;
}

.imgp {
  max-width: 400px;
  display: block;
  margin: auto;
  margin-top: 15px;
  width: 50vw;
}

.site {
  background-color: var(--cor1);
  border: none;
  border-radius: 20px 0px 0px 20px;
  margin: auto;
  display: grid;
}

.sitea {
  text-decoration: none;
  color: black;
}

.arquivos {
  background-color: var(--cor3);
  border: none;
  border-radius: 0px 20px 20px 0px;
  margin: auto;
  display: grid;
}

.arquivosa {
  text-decoration: none;
  color: white;
}

.container {
  display: flex;
  justify-content: center; /* Centraliza os botões horizontalmente */
  align-items: center; /* Centraliza os botões verticalmente */
  margin-top: 10px;
}

.buttons {
  display: flex;
}

.botao {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 30vw;
}

/*Fim Projetos*/